* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#div {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.7rem;
}

.Alive {
  color: green;
  font-weight: bold;
}

.Dead {
  color: red;
  font-weight: bold;
}

.unknown {
  color: rgb(190, 190, 20);
  font-weight: bold;
}

#loader {
    position: absolute;
    left: 50%;
    bottom: 50%;
}

#loader img {
  width: 5rem;
}

.hidden {
  display: none;
}

.parLoader{
    color: #6495ed;
}

.title{
    text-align: center;
    padding: 2rem 0;
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
    border-bottom: 1px solid #6495ed;
}